<% provide(:title, "show") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <div class="mb-3">
                <%= form_with url: root_path, method: "get" do |f| %>
                    <% sort_list = ["小説", "コミック", "教育・技術", "その他"] %>
                    <% sort_list.each do |sort_item| %>
                        <div class="form-check">
                            <%= f.radio_button :sort, sort_item, class: "form-check-input", type: "radio" %>
                            <%= f.label :sort, sort_item, value: sort_item, class: "form-check-label" %>
                        </div>
                    <% end %>
                    <%= f.submit "絞り込む", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>

        <div class="col-9">
            <% if flash[:success] %>
                <p class="alert alert-success" role="alert"><%= flash[:success] %></p>
            <% end %>
            <%= paginate @bookstocks, theme: "bootstrap-5" %>
            <% if @bookstocks.present? %>
                <ol class="row row-cols-2">
                    <%= render @bookstocks %>
                </ol> 
            <% else %>
                <p>見つかりません</p>
            <% end %>
        </div>
    </div>
</div>